

@font-face {
    font-family: 'Rockness';
    src: url('../fonts/rockness/Rockness.eot');
    src: local('Rockness'),
    url('../fonts/rockness/Rockness.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rockness/Rockness.woff2') format('woff2'),
    url('../fonts/rockness/Rockness.woff') format('woff'),
    url('../fonts/rockness/Rockness.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockness';
    src: url('../fonts/rockness/Rockness-Slant.eot');
    src: local('Rockness Slant'), local('Rockness-Slant'),
    url('../fonts/rockness/Rockness-Slant.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rockness/Rockness-Slant.woff2') format('woff2'),
    url('../fonts/rockness/Rockness-Slant.woff') format('woff'),
    url('../fonts/rockness/Rockness-Slant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockness Swash';
    src: url('../fonts/rockness/Rockness-Swash.eot');
    src: local('Rockness Swash'), local('Rockness-Swash'),
    url('../fonts/rockness/Rockness-Swash.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rockness/Rockness-Swash.woff2') format('woff2'),
    url('../fonts/rockness/Rockness-Swash.woff') format('woff'),
    url('../fonts/rockness/Rockness-Swash.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

