@function vw($px-vw, $base-vw: 1920px) {
    @return ($px-vw * 100vw) / $base-vw
}

.text-block {
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.8rem;
    color: $main-color;

    a {
        text-decoration: underline;
        font-weight: 500;
        color: $cream;
    }

    *:not(img, ul, ol, li, blockquote, span, strong, br, iframe) {
        margin-bottom: 1.5rem;

    }

    br {
        content: "";
        display: block;
        height: 1.5rem;
    }

    *:last-child {
        margin-bottom: 0;

        strong {
            font-weight: 700;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $second-font;
        font-weight: 700;
        line-height: 1.5;
        color: $main-color;

    }

    strong {
        font-weight: 700;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.8rem;
    }

    a {
        text-decoration: underline;
        color: $red;

        &:hover {
            text-decoration: none;
        }
    }

    blockquote {
        font-family: $second-font;
        border-color: 0.1rem solid $red;
        background: rgba(255, 255, 255, 0);
        border-radius: 1rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.3;
        text-align: center;
        color: $main-color;
        padding: 2.5rem 4rem;
        position: relative;
        z-index: 2;


        &::after, &::before {
            content: '"';
            position: absolute;
            top: 0.4rem;
            left: 0.9rem;
            font-size: 3rem;
        }

        &::after {
            top: auto;
            left: auto;
            bottom: 0.4rem;
            right: 0.9rem;
            transform: rotate(180deg);
        }


    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 1.2rem;
        border-radius: 1rem;
        @include overFlow;
    }

    .alignleft {
        float: left;
        margin-right: 3rem;
    }

    .alignright {
        float: right;
        margin-left: 2rem;
    }

    .aligncenter {
        margin: 0 auto;
    }

    ol, ul {
        li {
            line-height: 1.4;
            margin-bottom: 0.75rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul {
        margin-bottom: 1rem;

        li::before {
            width: 0.6rem;
            height: 1.15rem;
            background: url("../img/ht1.svg") no-repeat center / 100%;
            display: inline-block;
            position: absolute;
            top: 0.25rem;
            left: 0;
            content: '';
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            padding-left: 2.25rem;
            position: relative;
            z-index: 2;

            ol {
                counter-reset: numUl;

                li {
                    padding-left: 2.4rem;

                    &::after {
                        display: none;
                    }

                    &::before {
                        counter-increment: numUl;
                        content: counters(numUl);
                    }
                }
            }
        }
    }

    u {
        text-decoration: underline !important;
    }

    ol {
        counter-reset: numOl;
        list-style: none !important;

        p {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }


        li {
            width: 100%;
            display: inline-flex;
            flex-wrap: wrap;
            position: relative;
            padding-left: 2.4rem;
            counter-increment: numOl;

            &::before {

                content: counter(numOl);

                margin-right: 0.3rem;
                font-weight: 700;
                position: absolute;
                width: 1.5rem;
                left: 0;
                top: -0.25rem;
                height: 1.5rem;
                box-sizing: border-box;
                background: #fff;
                border: 1px solid $main-color;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.7rem;
                color: $main-color;
                line-height: 1;

            }

            ol {

            }

            ul {
                padding-left: 1rem;

                li {
                    position: relative;
                    z-index: 2;

                }
            }
        }
    }

    video, iframe {
        max-width: 100%;
    }
}

@function vw($px-vw, $base-vw: 393px) {
    @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {

    .text-block {
        font-size: 0.7rem;

        p, li {
            font-size: 0.7rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        h4 {
            font-size: 1.1rem;
        }

        h5, h6 {
            font-size: 1rem;
        }

        *:not(img, ul, ol, li, blockquote, span, strong, br, iframe) {
            margin-bottom: 0.6rem;

        }

        ol, ul {
            li {
                margin-bottom: 0.8rem;
            }
        }

        img {
            width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        ul {
            li {
                padding-left: 1rem;
                position: relative;
                z-index: 2;

                &::after {
                    //content: "";
                    position: absolute;
                    top: 0.55rem;
                    left: 0;
                    background: $main-color;
                    border-radius: 50%;
                    width: 0.25rem;
                    height: 0.25rem;
                }
            }
        }

        blockquote {
            width: 100%;
            font-size: 0.7rem;
            padding: 1.5rem 1rem;
            border-radius: 0.5rem;
            margin-left: 0;
            margin-right: 0;

            &::before {
                top: 0.25rem;
                left: 0.25rem;
            }

            &::after {
                bottom: 0.25rem;
                right: 0.25rem;
            }
        }
        ol {
            li {
                width: 100%;
                padding-left: 2rem;
                &::before {
                    top: 0.25rem;
                }
            }
        }
    }
    .text-block img {
        margin-bottom: 0.75rem;
    }

}